.wrapper {
    background-image: url(.././assests/registerVector.jpg);
    height: 688px;
}

h2 {
    text-align: center;
    color: white;
}

#inputUser {
    margin: 5px;
    width: 400px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 12px;
}

#inputEmail {
    margin: 5px;
    width: 400px;
    font-size: 25px;
    border-radius: 12px;
    font-weight: bolder;
}

#inputPassword {
    margin: 5px;
    width: 400px;
    font-size: 25px;
    border-radius: 12px;
    font-weight: bolder;
}

#inputAddress {
    margin: 5px;
    width: 400px;
    font-size: 25px;
    border-radius: 12px;
    font-weight: bolder;
}